
/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #087769;
    background-color: #cafbf5;
    border-color: #b7faf1;
}

.alert-primary hr {
    border-top-color: #9ff8ed;
}

.alert-primary .alert-link {
    color: #04473f;
}

.badge-primary {
    color: #212529;
    background-color: #10eacf;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #212529;
    background-color: #0cbaa4;
}

.bg-primary {
    background-color: #10eacf !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #0cbaa4 !important;
}

.border-primary {
    border-color: #10eacf !important;
}

.btn-primary {
    color: #212529;
    background-color: #10eacf;
    border-color: #10eacf;
}

.btn-primary:hover {
    color: #212529;
    background-color: #0dc8b1;
    border-color: #0cbaa4;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(16, 234, 207, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #212529;
    background-color: #10eacf;
    border-color: #10eacf;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #0cbaa4;
    border-color: #0bab98;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(16, 234, 207, 0.5);
}

.btn-outline-primary {
    color: #10eacf;
    background-color: transparent;
    border-color: #10eacf;
}

.btn-outline-primary:hover {
    color: #212529;
    background-color: #10eacf;
    border-color: #10eacf;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(16, 234, 207, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #10eacf;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #10eacf;
    border-color: #10eacf;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(16, 234, 207, 0.5);
}

.list-group-item-primary {
    color: #087769;
    background-color: #b7faf1;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #087769;
    background-color: #9ff8ed;
}

.list-group-item-primary.list-group-item-action.active {
    color: #212529;
    background-color: #087769;
    border-color: #087769;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #b7faf1;
}

.table-hover .table-primary:hover {
    background-color: #9ff8ed;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #9ff8ed;
}

.text-primary {
    color: #10eacf !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #0cbaa4 !important;
}
