
/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #087769;
    background-color: #cafbf5;
    border-color: #b7faf1;
}

.alert-primary hr {
    border-top-color: #9ff8ed;
}

.alert-primary .alert-link {
    color: #04473f;
}

.badge-primary {
    color: #212529;
    background-color: #10eacf;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #212529;
    background-color: #0cbaa4;
}

.bg-primary {
    background-color: #10eacf !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #0cbaa4 !important;
}

.border-primary {
    border-color: #10eacf !important;
}

.btn-primary {
    color: #212529;
    background-color: #10eacf;
    border-color: #10eacf;
}

.btn-primary:hover {
    color: #212529;
    background-color: #0dc8b1;
    border-color: #0cbaa4;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(16, 234, 207, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #212529;
    background-color: #10eacf;
    border-color: #10eacf;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #0cbaa4;
    border-color: #0bab98;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(16, 234, 207, 0.5);
}

.btn-outline-primary {
    color: #10eacf;
    background-color: transparent;
    border-color: #10eacf;
}

.btn-outline-primary:hover {
    color: #212529;
    background-color: #10eacf;
    border-color: #10eacf;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(16, 234, 207, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #10eacf;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #10eacf;
    border-color: #10eacf;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(16, 234, 207, 0.5);
}

.list-group-item-primary {
    color: #087769;
    background-color: #b7faf1;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #087769;
    background-color: #9ff8ed;
}

.list-group-item-primary.list-group-item-action.active {
    color: #212529;
    background-color: #087769;
    border-color: #087769;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #b7faf1;
}

.table-hover .table-primary:hover {
    background-color: #9ff8ed;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #9ff8ed;
}

.text-primary {
    color: #10eacf !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #0cbaa4 !important;
}


/*------------------------------------
- COLOR danger
------------------------------------*/
.alert-danger {
    color: #c40042;
    background-color: #ff10b107;
    border-color: #fff7fa;
}

.alert-danger hr {
    border-top-color: #ffdee9;
}

.alert-danger .alert-link {
    color: #910031;
}

.badge-danger {
    color: #212529;
    background-color: #FF4081;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
    color: #212529;
    background-color: #ff0d5f;
}

.bg-danger {
    background-color: #FF4081 !important;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
    background-color: #ff0d5f !important;
}

.border-danger {
    border-color: #FF4081 !important;
}

.btn-danger {
    color: #212529;
    background-color: #FF4081;
    border-color: #FF4081;
}

.btn-danger:hover {
    color: #212529;
    background-color: #ff1c69;
    border-color: #ff0d5f;
}

.btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 64, 129, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
    color: #212529;
    background-color: #FF4081;
    border-color: #FF4081;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
    color: #212529;
    background-color: #ff0d5f;
    border-color: #fc0055;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 64, 129, 0.5);
}

.btn-outline-danger {
    color: #FF4081;
    background-color: transparent;
    border-color: #FF4081;
}

.btn-outline-danger:hover {
    color: #212529;
    background-color: #FF4081;
    border-color: #FF4081;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 64, 129, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
    color: #FF4081;
    background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
    color: #212529;
    background-color: #FF4081;
    border-color: #FF4081;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 64, 129, 0.5);
}

.list-group-item-danger {
    color: #c40042;
    background-color: #fff7fa;
}

.list-group-item-danger.list-group-item-action:hover, .list-group-item-danger.list-group-item-action:focus {
    color: #c40042;
    background-color: #ffdee9;
}

.list-group-item-danger.list-group-item-action.active {
    color: #212529;
    background-color: #c40042;
    border-color: #c40042;
}

.table-danger,
.table-danger > th,
.table-danger > td {
    background-color: #fff7fa;
}

.table-hover .table-danger:hover {
    background-color: #ffdee9;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
    background-color: #ffdee9;
}

.text-danger {
    color: #FF4081 !important;
}

a.text-danger:hover, a.text-danger:focus {
    color: #ff0d5f !important;
}

