html {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#task-container {
    width: 80%;
}

.project {
    cursor: pointer;
    text-transform: capitalize;
    
}

.current-project {
    font-weight: bold;
}


#edit-btn {
    width: 30px;
    height: 30px;
    background-color: rgb(64, 140, 255);
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}

#edit-btn:hover {
    background-color: rgb(13, 99, 212);
    transition: background-color .15s;
}

#del-btn {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 64, 80);
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    border-radius: 4px;
}

#del-btn:hover {
    background-color: rgb(212, 13, 29);
    transition: background-color .15s;
}

.fa-pen-to-square, .fa-trash-alt {
    color: white;
    pointer-events: none;
    font-size: 18px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;

}

.checkbox, #edit-btn, #del-btn {
    margin: 0.5em;
}

.task-date {
    margin-left:auto;
}

.actions {
    margin-left:auto;
}

select, select option, option {
    text-transform: capitalize;
}

i {
    pointer-events: none;
} 

.fade {
    transition: opacity 0.1s linear;
  }

.nav-span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-item.active, .dropdown-item:active {
    color: black;
    background-color: transparent;
}

#new-project-btn {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 0.5rem;
    padding: 0;
    margin: 0 auto;
    flex-shrink: 0;
}

.navbar {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar {
    max-width: inherit;
    width: 100%;
}

.nav-item {
    font-size: 1.2rem;
}

#project-list {
    max-width: inherit;
    width: 100%;
}

ul {
    /*list-style-type: none;*/
}

li {
    word-wrap: break-word;
}