html {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#task-container {
    width: 80%;
}

.project {
    cursor: pointer;
    text-transform: capitalize;
    
}

.current-project {
    font-weight: bold;
}


#edit-btn {
    width: 30px;
    height: 30px;
    background-color: rgb(64, 140, 255);
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}

#edit-btn:hover {
    background-color: rgb(13, 99, 212);
    transition: background-color .15s;
}

#del-btn {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 64, 80);
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    border-radius: 4px;
}

#del-btn:hover {
    background-color: rgb(212, 13, 29);
    transition: background-color .15s;
}

.fa-pen-to-square, .fa-trash-alt {
    color: white;
    pointer-events: none;
    font-size: 18px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;

}

.checkbox, #edit-btn, #del-btn {
    margin: 0.5em;
}

.task-date {
    margin-left:auto;
}

.actions {
    margin-left:auto;
}

select, select option, option {
    text-transform: capitalize;
}

i {
    pointer-events: none;
} 

.fade {
    transition: opacity 0.1s linear;
  }

.body-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.nav-span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-span {
    position: relative;
    color: white;
    padding: 0.5rem 1rem;
    background-color: rgb(58, 58, 58);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.562);
}

.dropdown-item.active, .dropdown-item:active {
    color: black;
    background-color: transparent;
}

#new-project-btn {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 0.5rem;
    padding: 0;
    margin: 0 auto;
    flex-shrink: 0;
}

.navbar {
    color: white;
    background-image: linear-gradient(rgb(46, 46, 46) 65%, teal);
    min-width: 200px;
    max-width: 380px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem !important;
    flex: 1;
    z-index: -1;
}

.sidebar {
    max-width: inherit;
    width: 100%;
    height: 100%;
}

.nav-item {
    font-size: 1.2rem;
}

#project-list {
    max-width: inherit;
    width: 100%;
}

ul {
    /*list-style-type: none;*/
}

li {
    word-wrap: break-word;
}

.project:hover {
    padding-left: 3%;
    transition: ease-out 0.2s;
}

.project:not(hover) {
    padding-left: 0%;
    transition: ease-out 0.2s;
}

h3 {
    margin: 0;
    align-self: center;
}

#to-do::after{
    width: 4px;
    height: 80%;
    background-color: gray;
}

.btn-primary {

}